<h1>Spotify Random Playlist</h1>
<%= user.to_json%>
<h2>Songs</h2>
<%= render partial: 'song_list', locals: {songs: @songs} %>

<h2>Playlists</h2>
<ol>
<% @playlists.each do |playlist| %>
  <li><%= playlist.name %></li>
<% end %>
</ol>
